{% liquid
  assign var = section.settings
  assign bg1 = var.bg1
  assign bg2 = var.bg2
  assign hatiImg = var.hatiImg
  assign hatiDesc = var.hatiDesc
  assign hatiUrl = var.hatiUrl
  assign hatiLabel = var.hatiLabel
  assign hatiUrl2 = var.hatiUrl2
  assign hatiLabel2 = var.hatiLabel2
  assign hatiUrl3 = var.hatiUrl3
  assign hatiLabel3 = var.hatiLabel3
  assign gatiImg = var.gatiImg
  assign gatiDesc = var.gatiDesc
  assign gatiUrl = var.gatiUrl
  assign gatiLabel = var.gatiLabel
  assign gatiUrl2 = var.gatiUrl2
  assign gatiLabel2 = var.gatiLabel2
  assign gatiUrl3 = var.gatiUrl3
  assign gatiLabel3 = var.gatiLabel3
%}

<style>
  #membershipsPopup,
  #membershipsPopup2,
  #membershipsPopup3 {
    display: none;
  }

  #membershipsPopup.openPopup,
  #membershipsPopup2.openPopup,
  #membershipsPopup3.openPopup {
    display: block;
  }

  .membershipsPopup {
    background: linear-gradient(to right, {{bg1}} 0%, {{bg2}} 100%);
  }

  .popup-overlay {
    background: rgba(0, 0, 0, 0.4);
    z-index: 30;
    color: transparent;
    position: sticky;
    width: 100vw;
    height: 100vh;
    top: 0;
  }

  .memberships-hati-hover:hover {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(254, 211, 108));
  }

  .memberships-gati-hover:hover {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(253, 112, 186));
  }

  .popup-position {
    top: 10%;
  }

  @media (min-width: 1024px) {
    .popup-position {
      left: calc(50% - 490px);
      top: calc(50% - 121px);
    }
  }
</style>

<div id="membershipsPopup">
  <div>
    <div class="popup-position tw-absolute tw-z-40 tw-p-5 lg:tw-w-[980px] lg:tw-p-0">
      <div class="membershipsPopup tw-relative tw-rounded-3xl tw-p-6">
        <div class="tw-absolute tw-right-6 tw-top-4 tw-cursor-pointer tw-text-xl" onclick="closeMemberPopup()">X</div>
        <div class="tw-flex tw-flex-col tw-gap-12 lg:tw-grid lg:tw-grid-cols-2">
          <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-4">
            {% if hatiImg != blank %}
              {{ hatiImg | image_url: width: 100 | image_tag }}
            {% endif %}
            {% if hatiDesc != blank %}
              <div class="tw-text-center tw-text-xs tw-text-black lg:tw-text-base">{{ hatiDesc }}</div>
            {% endif %}
            {% if hatiLabel != blank %}
              <a
                href="{{ hatiUrl }}"
                class="memberships-hati-hover tw-w-full tw-rounded-3xl tw-bg-white tw-p-2 tw-text-center tw-text-sm tw-font-bold tw-uppercase tw-text-black lg:tw-text-lg"
              >
                {{- hatiLabel -}}
              </a>
            {% endif %}
          </div>
          <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-4">
            {% if gatiImg != blank %}
              {{ gatiImg | image_url: width: 100 | image_tag }}
            {% endif %}
            {% if gatiDesc != blank %}
              <div class="tw-text-center tw-text-xs  tw-text-black lg:tw-text-base">{{ gatiDesc }}</div>
            {% endif %}
            {% if gatiLabel != blank %}
              <a
                href="{{ gatiUrl }}"
                class="memberships-gati-hover tw-w-full tw-rounded-3xl tw-bg-white tw-p-2 tw-text-center tw-text-sm tw-font-bold tw-uppercase tw-text-black lg:tw-text-lg"
              >
                {{- gatiLabel -}}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="popup-overlay" onclick="closeMemberPopup()">p</div>
  </div>
</div>
<div id="membershipsPopup2">
  <div>
    <div class="popup-position tw-absolute tw-z-40 tw-p-5 lg:tw-w-[980px] lg:tw-p-0">
      <div class="membershipsPopup tw-relative tw-rounded-3xl tw-p-6">
        <div class="tw-absolute tw-right-6 tw-top-4 tw-cursor-pointer tw-text-xl" onclick="closeMemberPopup()">X</div>
        <div class="tw-flex tw-flex-col tw-gap-12 lg:tw-grid lg:tw-grid-cols-2">
          <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-4">
            {% if hatiImg != blank %}
              {{ hatiImg | image_url: width: 100 | image_tag }}
            {% endif %}
            {% if hatiDesc != blank %}
              <div class="tw-text-center tw-text-xs tw-text-black lg:tw-text-base">{{ hatiDesc }}</div>
            {% endif %}
            {% if hatiLabel2 != blank %}
              <a
                href="{{ hatiUrl2 }}"
                class="memberships-hati-hover tw-w-full tw-rounded-3xl tw-bg-white tw-p-2 tw-text-center tw-text-sm tw-font-bold tw-uppercase tw-text-black lg:tw-text-lg"
              >
                {{- hatiLabel2 -}}
              </a>
            {% endif %}
          </div>
          <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-4">
            {% if gatiImg != blank %}
              {{ gatiImg | image_url: width: 100 | image_tag }}
            {% endif %}
            {% if gatiDesc != blank %}
              <div class="tw-text-center tw-text-xs  tw-text-black lg:tw-text-base">{{ gatiDesc }}</div>
            {% endif %}
            {% if gatiLabel2 != blank %}
              <a
                href="{{ gatiUrl2 }}"
                class="memberships-gati-hover tw-w-full tw-rounded-3xl tw-bg-white tw-p-2 tw-text-center tw-text-sm tw-font-bold tw-uppercase tw-text-black lg:tw-text-lg"
              >
                {{- gatiLabel2 -}}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="popup-overlay" onclick="closeMemberPopup()">p</div>
  </div>
</div>
<div id="membershipsPopup3">
  <div>
    <div class="popup-position tw-absolute tw-z-40 tw-p-5 lg:tw-w-[980px] lg:tw-p-0">
      <div class="membershipsPopup tw-relative tw-rounded-3xl tw-p-6">
        <div class="tw-absolute tw-right-6 tw-top-4 tw-cursor-pointer tw-text-xl" onclick="closeMemberPopup()">X</div>
        <div class="tw-flex tw-flex-col tw-gap-12 lg:tw-grid lg:tw-grid-cols-2">
          <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-4">
            {% if hatiImg != blank %}
              {{ hatiImg | image_url: width: 100 | image_tag }}
            {% endif %}
            {% if hatiDesc != blank %}
              <div class="tw-text-center tw-text-xs tw-text-black lg:tw-text-base">{{ hatiDesc }}</div>
            {% endif %}
            {% if hatiLabel3 != blank %}
              <a
                href="{{ hatiUrl3 }}"
                class="memberships-hati-hover tw-w-full tw-rounded-3xl tw-bg-white tw-p-2 tw-text-center tw-text-sm tw-font-bold tw-uppercase tw-text-black lg:tw-text-lg"
              >
                {{- hatiLabel3 -}}
              </a>
            {% endif %}
          </div>
          <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-4">
            {% if gatiImg != blank %}
              {{ gatiImg | image_url: width: 100 | image_tag }}
            {% endif %}
            {% if gatiDesc != blank %}
              <div class="tw-text-center tw-text-xs  tw-text-black lg:tw-text-base">{{ gatiDesc }}</div>
            {% endif %}
            {% if gatiLabel3 != blank %}
              <a
                href="{{ gatiUrl3 }}"
                class="memberships-gati-hover tw-w-full tw-rounded-3xl tw-bg-white tw-p-2 tw-text-center tw-text-sm tw-font-bold tw-uppercase tw-text-black lg:tw-text-lg"
              >
                {{- gatiLabel3 -}}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="popup-overlay" onclick="closeMemberPopup()">p</div>
  </div>
</div>

<script>
  const sectionId = document.getElementById('shopify-section-{{ section.id }}');
  const memberPopup = document.getElementById('membershipsPopup');
  const memberPopup2 = document.getElementById('membershipsPopup2');
  const memberPopup3 = document.getElementById('membershipsPopup3');
  function openMemberPopup1() {
    memberPopup.classList.add('openPopup');
    sectionId.classList.add('tw-fixed');
    sectionId.classList.remove('tw-hidden');
  }
  function openMemberPopup2() {
    memberPopup2.classList.add('openPopup');
    sectionId.classList.add('tw-fixed');
    sectionId.classList.remove('tw-hidden');
  }
  function openMemberPopup3() {
    memberPopup3.classList.add('openPopup');
    sectionId.classList.add('tw-fixed');
    sectionId.classList.remove('tw-hidden');
  }
  function closeMemberPopup() {
    memberPopup.classList.remove('openPopup');
    memberPopup2.classList.remove('openPopup');
    memberPopup3.classList.remove('openPopup');
    sectionId.classList.remove('tw-fixed');
    sectionId.classList.add('tw-hidden');
  }
</script>

{% schema %}
{
  "class": "tw-hidden tw-top-0 tw-right-0 tw-left-0 tw-bottom-0 tw-z-20",
  "name": "Memberships PopUp",
  "settings": [
    {
      "type": "color",
      "default": "#FD70BA",
      "id": "bg1",
      "label": "First background color"
    },
    {
      "type": "color",
      "default": "#F0DC61",
      "id": "bg2",
      "label": "Second background color"
    },
    {
      "type": "image_picker",
      "id": "hatiImg",
      "label": "Hati logo image"
    },
    {
      "type": "richtext",
      "id": "hatiDesc",
      "label": "Hati description",
      "default": "<p>Hacer ejercicio y estar saludable puede ser difícil. Home & Tone it® elimina esos obstáculos. Nuestras rutinas, diseñadas para hacer en casa en menos de 60 minutos con equipo básico, te facilitan estar en forma.</p>"
    },
    {
      "type": "url",
      "id": "hatiUrl",
      "label": "Hati url redirection"
    },
    {
      "type": "text",
      "id": "hatiLabel",
      "label": "Hati redirect button label",
      "default": "TRAIN AT HOME"
    },
    {
      "type": "url",
      "id": "hatiUrl2",
      "label": "Hati url redirection 2"
    },
    {
      "type": "text",
      "id": "hatiLabel2",
      "label": "Hati redirect button label 2",
      "default": "TRAIN AT HOME"
    },
    {
      "type": "url",
      "id": "hatiUrl3",
      "label": "Hati url redirection 3"
    },
    {
      "type": "text",
      "id": "hatiLabel3",
      "label": "Hati redirect button label 3",
      "default": "TRAIN AT HOME"
    },
    {
      "type": "image_picker",
      "id": "gatiImg",
      "label": "Gati logo image"
    },
    {
      "type": "richtext",
      "id": "gatiDesc",
      "label": "Gati description",
      "default": "<p>Muchas personas cometen errores al entrenar sin guía en el gimnasio. Gym & Tone It® te enseña a usar correctamente cada máquina y te ofrece nuevas rutinas diarias para trabajar cada músculo del cuerpo.</p>"
    },
    {
      "type": "url",
      "id": "gatiUrl",
      "label": "Gati url redirection"
    },
    {
      "type": "text",
      "id": "gatiLabel",
      "label": "Gati redirect button label",
      "default": "TRAIN AT THE GYM"
    },
    {
      "type": "url",
      "id": "gatiUrl2",
      "label": "Gati url redirection 2"
    },
    {
      "type": "text",
      "id": "gatiLabel2",
      "label": "Gati redirect button label 2",
      "default": "TRAIN AT THE GYM"
    },
    {
      "type": "url",
      "id": "gatiUrl3",
      "label": "Gati url redirection 3"
    },
    {
      "type": "text",
      "id": "gatiLabel3",
      "label": "Gati redirect button label 3",
      "default": "TRAIN AT THE GYM"
    }
  ],
  "presets": [
    {
      "name": "Memberships PopUp"
    }
  ]
}
{% endschema %}
