{% liquid
  assign var = section.settings
  assign bg1 = var.bg1
  assign bg2 = var.bg2
  assign hatiImg = var.hatiImg
  assign hatiDesc = var.hatiDesc
  assign hatiUrl = var.hatiUrl
  assign hatiLabel = var.hatiLabel
  assign gatiImg = var.gatiImg
  assign gatiDesc = var.gatiDesc
  assign gatiUrl = var.gatiUrl
  assign gatiLabel = var.gatiLabel
%}

<style>
  .membershipsPopup{
    background: linear-gradient(to right, {{ bg1 }} 0%, {{ bg2 }} 100%);
  }
</style>

<div id="membershipsPopup" class="lg:tw-left-[calc(50% - 245px)] tw-absolute tw-w-11/12 lg:tw-w-[490px]">
  <div class="membershipsPopup tw-relative tw-p-6">
    <div class="tw-flex tw-flex-col tw-gap-12 lg:tw-grid lg:tw-grid-cols-2">
      <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-4">
        {% if hatiImg != blank %}
          {{ hatiImg | image_url: width: 85 | image_tag }}
        {% endif %}
        {% if hatiDesc != blank %}
          <div class="tw-text-center tw-text-xs tw-text-black lg:tw-text-base">{{ hatiDesc }}</div>
        {% endif %}
        {% if hatiLabel != blank %}
          <a
            href="{{ hatiUrl }}"
            class="tw-w-full tw-rounded-3xl tw-bg-white tw-p-3.5 tw-text-center tw-text-sm tw-font-bold tw-uppercase tw-text-black lg:tw-text-lg"
          >
            {{- hatiLabel -}}
          </a>
        {% endif %}
      </div>
      <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-4">
        {% if gatiImg != blank %}
          {{ gatiImg | image_url: width: 85 | image_tag }}
        {% endif %}
        {% if gatiDesc != blank %}
          <div class="tw-text-center tw-text-xs tw-text-black lg:tw-text-base">{{ gatiDesc }}</div>
        {% endif %}
        {% if gatiLabel != blank %}
          <a
            href="{{ gatiUrl }}"
            class="tw-w-full tw-rounded-3xl tw-bg-white tw-p-3.5 tw-text-center tw-text-sm tw-font-bold tw-uppercase tw-text-black lg:tw-text-lg"
          >
            {{- gatiLabel -}}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Memberships PopUp",
  "settings": [
    {
      "type": "color",
      "default": "#FD70BA",
      "id": "bg1",
      "label": "First background color"
    },
    {
      "type": "color",
      "default": "#F0DC61",
      "id": "bg2",
      "label": "Second background color"
    },
    {
      "type": "image_picker",
      "id": "hatiImg",
      "label": "Hati logo image"
    },
    {
      "type": "richtext",
      "id": "hatiDesc",
      "label": "Hati description",
      "default": "<p>Hacer ejercicio y estar saludable puede ser difícil. Home & Tone it® elimina esos obstáculos. Nuestras rutinas, diseñadas para hacer en casa en menos de 60 minutos con equipo básico, te facilitan estar en forma.</p>"
    },
    {
      "type": "url",
      "id": "hatiUrl",
      "label": "Hati url redirection"
    },
    {
      "type": "text",
      "id": "hatiLabel",
      "label": "Hati redirect button label",
      "default": "TRAIN AT HOME"
    },
    {
      "type": "image_picker",
      "id": "gatiImg",
      "label": "Gati logo image"
    },
    {
      "type": "richtext",
      "id": "gatiDesc",
      "label": "Gati description",
      "default": "<p>Muchas personas cometen errores al entrenar sin guía en el gimnasio. Gym & Tone It® te enseña a usar correctamente cada máquina y te ofrece nuevas rutinas diarias para trabajar cada músculo del cuerpo.</p>"
    },
    {
      "type": "url",
      "id": "gatiUrl",
      "label": "Gati url redirection"
    },
    {
      "type": "text",
      "id": "gatiLabel",
      "label": "Gati redirect button label",
      "default": "TRAIN AT THE GYM"
    }
  ],
  "presets": [
    {
      "name": "Memberships PopUp"
    }
  ]
}
{% endschema %}
