{% liquid
  assign var = section.settings
  assign collection = var.collection
%}

<div class="tw-m-auto md:tw-container" id="featured-collection-{{ section.id }}">
  <div class="md:tw-px-20">
    <div class="tw-text-center">
      <h2 class="tw-py-8 tw-text-3xl tw-font-bold md:tw-text-6xl">{{ collection.title }}</h2>
    </div>
    <div class="swiper featured-collection-slideshow">
      <div class="swiper-wrapper tw-ml-3 md:tw-ml-0">
        <div class="swiper-slide" v-for="slide in slides" :key="slide.id">
          <a :href="slide.url">
            <div class="tw-w-full">
              <img :src="slide.image" width="" height="" class="tw-rounded-3xl">
            </div>
            <p
              class="tw-flex tw-w-full tw-flex-col tw-justify-between tw-gap-2 tw-text-lg tw-font-bold"
              style="color:#9a999a"
            >
              <span>${slide.title}</span>
              <span>${slide.price}</span>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.createApp({
    delimiters: ['${', '}'],
    data() {
        return {
        slides: [
            {% for product in collection.products limit: 4 %}
                {% if product.featured_image != blank %}
                    { id: {{ forloop.index }}, image: '{{ product.featured_image | image_url }}', url: '{{ product.url }}', title: '{{ product.title }}', price: '{{ product.price | money }}' },
                {% endif %}
            {% endfor %}
        ],
        };
    },
    mounted() {
        new Swiper('.featured-collection-slideshow', {
            slidesPerView: '2.5',
            spaceBetween: 10,
            breakpoints: {
                768: {
                    slidesPerView: 3,
                    spaceBetween: 16,
                },
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 32,
                },
            },
        });
    },
  }).mount('#featured-collection-{{ section.id }}')
</script>

{% schema %}
{
  "name": "Featured Collection",
  "class": "tw-my-8",
  "settings": [
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
