{% liquid
  assign logo = section.settings.logo
  assign copy = section.settings.copy
%}

<footer class="tw-container tw-m-auto tw-px-10 tw-py-16">
  <div class="tw-pb-6">
    <div class="tw-flex tw-flex-col tw-justify-between tw-gap-8 md:tw-flex-row">
      <div class="tw-mx-auto tw-w-4/5 md:tw-w-1/5">
        {{ logo | image_url: width: 800 | image_tag: class: 'tw-m-auto' }}
      </div>
      {% for block in section.blocks %}
        {% case block.type` %}
          {% when 'menu' %}
            <div class="md:tw-w-1/5">
              <h3 class="tw-mb-4 tw-font-bold tw-text-white">
                {{ block.settings.title }}
              </h3>
              <div class="tw-flex tw-gap-6 tw-text-base">
                {% assign menu = block.settings.menu %}
                <ul class="tw-flex tw-flex-col">
                  {% for link in menu.links %}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% when 'icons' %}
            <div class="md:tw-w-1/5">
              <h3 class="tw-mb-4 tw-font-bold tw-text-white">Nuestras redes sociales</h3>
              <div class="tw-flex tw-justify-between">
                {% liquid
                  assign facebook = block.settings.facebook
                  assign instagram = block.settings.instagram
                  assign tiktok = block.settings.tiktok
                  assign youtube = block.settings.youtube
                  assign twitter = block.settings.twitter
                  assign whatsapp = block.settings.whatsapp
                %}
                {% if facebook != blank %}
                  <a
                    class="tw-flex tw-items-center tw-text-white"
                    title="facebook"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="{{ facebook }}"
                  >
                    {% render 'tw-social-icons', icon: 'facebook' %}
                  </a>
                {% endif %}
                {% if instagram != blank %}
                  <a
                    class="tw-flex tw-items-center tw-text-white"
                    title="instagram"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="{{ instagram }}"
                  >
                    {% render 'tw-social-icons', icon: 'instagram' %}
                  </a>
                {% endif %}
                {% if tiktok != blank %}
                  <a
                    class="tw-flex tw-items-center tw-text-white"
                    title="tiktok"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="{{ tiktok }}"
                  >
                    {% render 'tw-social-icons', icon: 'tiktok' %}
                  </a>
                {% endif %}
                {% if youtube != blank %}
                  <a
                    class="tw-flex tw-items-center tw-text-white"
                    title="youtube"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="{{ youtube }}"
                  >
                    {% render 'tw-social-icons', icon: 'youtube' %}
                  </a>
                {% endif %}
                {% if twitter != blank %}
                  <a
                    class="tw-item-center tw-flex tw-text-white"
                    title="twitter"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="{{ twitter }}"
                  >
                    {% render 'tw-social-icons', icon: 'twitter' %}
                  </a>
                {% endif %}
                {% if whatsapp != blank %}
                  <a
                    class="tw-item-center tw-flex tw-text-white"
                    title="twitter"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="{{ whatsapp }}"
                  >
                    {% render 'tw-social-icons', icon: 'whatsapp' %}
                  </a>
                {% endif %}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</footer>
<div class="tw-container tw-m-auto tw-py-4 tw-text-center">
  {{ copy }}
</div>

{% schema %}
{
  "name": "Footer",
  "class": "tw-bg-black tw-text-white tw-mt-8",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "copy",
      "label": "Copy"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "icons",
      "name": "Social media icons",
      "settings": [
        {
          "type": "url",
          "id": "facebook",
          "label": "Facebook"
        },
        {
          "type": "url",
          "id": "instagram",
          "label": "Instagram"
        },
        {
          "type": "url",
          "id": "tiktok",
          "label": "Tiktok"
        },
        {
          "type": "url",
          "id": "youtube",
          "label": "Youtube"
        },
        {
          "type": "url",
          "id": "twitter",
          "label": "twitter"
        },
        {
          "type": "url",
          "id": "whatsapp",
          "label": "whatsapp"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
