{% liquid
  assign logo_black = section.settings.logo_black
  assign logo_white = section.settings.logo_white
  assign menu = section.settings.menu
  assign icon = section.settings.icon
%}

<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if settings.cart_type == 'drawer' -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- if settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div
  id="{{ section.id }}"
  class=" {% if request.page_type == 'index' or page.template_suffix == 'hati' or page.template_suffix == 'gati' or page.template_suffix == 'about-us' or page.template_suffix == 'playlists' %}-tw-mb-28{% else %}tw-bg-white{% endif %}"
>
  <div
    {% if request.page_type == 'index'
      or page.template_suffix == 'hati'
      or page.template_suffix == 'gati'
      or page.template_suffix == 'about-us'
      or page.template_suffix == 'playlists'
    %}
      :class="{ 'tw-bg-white tw-drop-shadow-md': scrollPosition >= 1, 'tw-bg-gradient-to-b tw-from-black/50 tw-to-transparent': scrollPosition < 1 }"
    {% endif %}
  >
    <nav class="tw-container tw-relative tw-m-auto tw-py-8">
      <div class="tw-mx-4 tw-flex tw-items-center tw-justify-between">
        <div class="tw-flex tw-w-full tw-justify-center lg:tw-block lg:tw-w-fit">
          {% if logo_black != blank %}
            <a href="/" :class="{ 'tw-hidden': scrollPosition < 1 }">
              {{ logo_black | image_url: width: 1000 | image_tag: class: 'tw-w-[200px]' }}
            </a>
          {% endif %}
          {% if logo_white != blank %}
            <a href="/" :class="{ 'tw-hidden': scrollPosition >= 1 }">
              {{ logo_white | image_url: width: 1000 | image_tag: class: 'tw-w-[200px]' }}
            </a>
          {% endif %}
        </div>
        <div class="relative tw-flex tw-items-center tw-gap-8">
          <div class="tw-hidden tw-gap-4 lg:tw-flex">
            {% for link in menu.links %}
              <ul>
                <li>
                  <div class="group peer">
                    <a
                      href="{{ link.url }}"
                      {% if request.page_type == 'index'
                        or page.template_suffix == 'hati'
                        or page.template_suffix == 'gati'
                        or page.template_suffix == 'about-us'
                        or page.template_suffix == 'playlists'
                      %}
                        :class="{ 'tw-text-black': scrollPosition >= 1, 'tw-text-white': scrollPosition < 1 }"
                      {% endif %}
                      class="tw-flex tw-items-center tw-gap-3 tw-text-base tw-capitalize"
                    >
                      {{ link.title }}
                      {% if link.links.size > 0 %}
                        <span class="group-hover:rotate-180 tw-h-2 tw-transition-all tw-duration-300 tw-ease-in-out">
                          <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.00024 1.14673L7.22241 7.14673" stroke-width="1.1" stroke-linecap="round" {% if request.page_type == 'index' or page.template_suffix == 'hati' or page.template_suffix == 'gati' or page.template_suffix == 'about-us' or page.template_suffix == 'playlists' %}:class="{ 'tw-stroke-black': scrollPosition >= 1, 'tw-stroke-white': scrollPosition < 1 }"{% endif %}></path>
                            <path d="M7.22217 7.14673L13.5154 1.14671" stroke-width="1.1" stroke-linecap="round" {% if request.page_type == 'index' or page.template_suffix == 'hati' or page.template_suffix == 'gati' or page.template_suffix == 'about-us' or page.template_suffix == 'playlists' %}:class="{ 'tw-stroke-black': scrollPosition >= 1, 'tw-stroke-white': scrollPosition < 1 }"{% endif %}></path>
                          </svg>
                        </span>
                      {% endif %}
                    </a>
                    {% for child_link in link.links %}
                      <div
                        class="group-hover:visible group-hover:opacity-100 tw-invisible tw-absolute tw-right-0 tw-top-[103.98px] tw-z-20 tw-w-full tw-overflow-hidden tw-rounded-b-xl tw-px-20 tw-py-8 tw-font-bold tw-opacity-0 tw-shadow-lg tw-transition-all tw-duration-300 tw-ease-in-out"
                        {% if request.page_type == 'index'
                          or page.template_suffix == 'hati'
                          or page.template_suffix == 'gati'
                          or page.template_suffix == 'about-us'
                          or page.template_suffix == 'playlists'
                        %}
                          :class="{ 'tw-bg-white tw-drop-shadow-md': scrollPosition >= 1, 'tw-bg-gradient-to-t tw-from-black/50 tw-to-transparent': scrollPosition < 1 }"
                        {% endif %}
                      >
                        <a
                          href="{{ child_link.url }}"
                          class="tw-flex tw-items-center tw-gap-3 tw-text-base tw-font-normal tw-capitalize"
                          {% if request.page_type == 'index'
                            or page.template_suffix == 'hati'
                            or page.template_suffix == 'gati'
                            or page.template_suffix == 'about-us'
                            or page.template_suffix == 'playlists'
                          %}
                            :class="{ 'tw-text-black': scrollPosition >= 1, 'tw-text-white': scrollPosition < 1 }"
                          {% endif %}
                        >
                          {{- child_link.title -}}
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                  {% if link.links.size > 0 %}
                    <div
                      class="peer-hover:visible peer-hover:opacity-100 tw-invisible tw-fixed tw-right-0 tw-top-[103.98px] -tw-z-10 tw-h-screen tw-w-screen tw-bg-gray-600/50 tw-text-transparent tw-opacity-0 tw-backdrop-blur-[2px] tw-transition-all tw-duration-300 tw-ease-in-out"
                      {% if request.page_type == 'index'
                        or page.template_suffix == 'hati'
                        or page.template_suffix == 'gati'
                        or page.template_suffix == 'about-us'
                        or page.template_suffix == 'playlists'
                      %}
                        :class="{ 'tw-hidden': scrollPosition < 1 }"
                      {% endif %}
                    >
                      l
                    </div>
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          </div>
          <div class="tw-flex tw-items-center tw-gap-4">
            <div class="tw-absolute tw-left-5 lg:tw-static lg:tw-left-0">
              <a
                href="{{ routes.cart_url }}"
                class="tw-relative"
                {% if request.page_type == 'index'
                  or page.template_suffix == 'hati'
                  or page.template_suffix == 'gati'
                  or page.template_suffix == 'about-us'
                  or page.template_suffix == 'playlists'
                %}
                  :class="{ 'tw-fill-black': scrollPosition >= 1, 'tw-fill-white': scrollPosition < 1 }"
                {% endif %}
                id="cart-icon-bubble"
              >
                {% if icon %}
                  {% render 'tw-icon-cart' %}
                {% else %}
                  <span
                    {% if request.page_type == 'index'
                      or page.template_suffix == 'hati'
                      or page.template_suffix == 'gati'
                      or page.template_suffix == 'about-us'
                      or page.template_suffix == 'playlists'
                    %}
                      :class="{ 'tw-text-black': scrollPosition >= 1, 'tw-text-white': scrollPosition < 1 }"
                    {% endif %}
                    >Carrito</span
                  >
                {% endif %}
                {% if cart != empty %}
                  {% if cart.item_count < 100 %}
                    <span
                      class="tw-absolute tw--right-1 tw--top-1 tw-h-5 tw-h-max tw-w-5 tw-rounded-full tw-text-center tw-text-sm"
                      {% if request.page_type == 'index'
                        or page.template_suffix == 'hati'
                        or page.template_suffix == 'gati'
                        or page.template_suffix == 'about-us'
                        or page.template_suffix == 'playlists'
                      %}
                        :class="{ 'tw-text-black': scrollPosition >= 1, 'tw-text-white': scrollPosition < 1,'tw-bg-white': scrollPosition >= 1,'tw-border': scrollPosition >= 1, 'tw-border-black': scrollPosition >= 1, 'tw-bg-black': scrollPosition < 1 }"
                      {% endif %}
                    >
                      {{- cart.item_count -}}
                    </span>
                  {% endif %}
                {% endif %}
              </a>
            </div>
            {% if shop.customer_accounts_enabled %}
              <div class="tw-hidden lg:tw-block">
                <a
                  href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
                  {% if request.page_type == 'index'
                    or page.template_suffix == 'hati'
                    or page.template_suffix == 'gati'
                    or page.template_suffix == 'about-us'
                    or page.template_suffix == 'playlists'
                  %}
                    :class="{ 'tw-fill-black': scrollPosition >= 1, 'tw-fill-white': scrollPosition < 1 }"
                  {% endif %}
                >
                  {% if icon %}
                    {% render 'tw-icon-account' %}
                  {% else %}
                    {% if customer %}
                      <span
                        {% if request.page_type == 'index'
                          or page.template_suffix == 'hati'
                          or page.template_suffix == 'gati'
                          or page.template_suffix == 'about-us'
                          or page.template_suffix == 'playlists'
                        %}
                          :class="{ 'tw-text-black': scrollPosition >= 1, 'tw-text-white': scrollPosition < 1 }"
                        {% endif %}
                        >Mi Cuenta</span
                      >
                    {% else %}
                      <span
                        {% if request.page_type == 'index'
                          or page.template_suffix == 'hati'
                          or page.template_suffix == 'gati'
                          or page.template_suffix == 'about-us'
                          or page.template_suffix == 'playlists'
                        %}
                          :class="{ 'tw-text-black': scrollPosition >= 1, 'tw-text-white': scrollPosition < 1 }"
                        {% endif %}
                        >Ingresar</span
                      >
                    {% endif %}
                  {% endif %}
                </a>
              </div>
            {% endif %}
            <div class="tw-absolute tw-right-5 lg:tw-hidden ">
              <button @click="toggleMenu">
                <span
                  v-if="!isMenuOpen"
                  {% if request.page_type == 'index'
                    or page.template_suffix == 'hati'
                    or page.template_suffix == 'gati'
                    or page.template_suffix == 'about-us'
                    or page.template_suffix == 'playlists'
                  %}
                    :class="{ 'tw-fill-black': scrollPosition >= 1, 'tw-fill-white': scrollPosition < 1 }"
                  {% endif %}
                >
                  {% render 'tw-icon-hamburger' %}
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div id="mobileMenu" class="tw-invisible tw-transition-all tw-duration-500 tw-ease-in-out">
    <nav
      id="mobileNav"
      class="tw-absolute -tw-left-[480px] tw-top-0 tw-z-20 tw-h-screen tw-w-screen tw-max-w-[480px] tw-overflow-auto tw-bg-white tw-transition-all tw-duration-500 tw-ease-in-out"
    >
      <div class="tw-flex tw-justify-center tw-p-8">
        <div>
          {% if logo_black != blank %}
            <a href="/">
              {{ logo_black | image_url: width: 1000 | image_tag: class: 'tw-w-[200px]' }}
            </a>
          {% endif %}
        </div>
        <div class="tw-absolute  tw-right-5">
          <button @click="toggleMenu">
            <span class="tw-text-xl tw-font-bold">✕</span>
          </button>
        </div>
      </div>
      <ul>
        {% for link in menu.links %}
          {% if link != null %}
            <li class="{% if forloop.first %}tw-border-t-1{% else %}tw-border-t-0{% endif %} tw-border-b-1 tw-border tw-border-x-0 tw-px-5 tw-py-4">
              <a
                href="{{ link.url }}"
                class="tw-group tw-peer tw-text-base tw-capitalize"
              >
                {{ link.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        {% if shop.customer_accounts_enabled %}
          <li class="tw-border-b-1 tw-border tw-border-x-0 tw-border-t-0 tw-px-5 tw-py-4">
            <div>
              <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
                {% if customer %}
                  <span class="tw-text-base tw-capitalize">Mi Cuenta</span>
                {% else %}
                  <span class="tw-text-base tw-capitalize">Mi Cuenta </span>
                {% endif %}
              </a>
            </div>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
<script>
  var { createApp } = Vue;
  const appHeader = createApp({
    delimiters: ['${', '}'],
    data() {
      const scrollPosition = 0;
      return {
        scrollPosition,
        isMenuOpen: false,
      };
    },
    methods: {
      updateScroll() {
        this.scrollPosition = window.scrollY;
      },
      toggleMenu() {
        this.isMenuOpen = !this.isMenuOpen;
        const mobileMenu = document.getElementById('mobileMenu');
        const mobileNav = document.getElementById('mobileNav');
        if (this.isMenuOpen) {
          mobileMenu.classList.remove('tw-invisible');
          mobileMenu.classList.add('tw-visible');
          mobileNav.classList.remove('-tw-left-[480px]');
          mobileNav.classList.add('-tw-left-0');
        } else {
          mobileMenu.classList.add('tw-invisible');
          mobileMenu.classList.remove('tw-visible');
          mobileNav.classList.remove('-tw-left-0');
          mobileNav.classList.add('-tw-left-[480px]');
        }
      },
    },
    mounted() {
      // Add scroll event listener
      window.addEventListener('scroll', this.updateScroll);
    },
  });
  appHeader.mount('#{{ section.id }}');
</script>

<style>
  .change-color {
    background-color: #fff !important;
  }

  .group:hover .group-hover\:rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
      skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .group:hover .group-hover\:opacity-100 {
    opacity: 1;
  }

  .group:hover .group-hover\:visible {
    visibility: visible;
  }

  .peer:hover ~ .peer-hover\:opacity-100 {
    opacity: 1;
  }

  .peer:hover ~ .peer-hover\:visible {
    visibility: visible;
  }
</style>

{% schema %}
{
  "name": "Custom header",
  "class": "tw-sticky tw-top-0 tw-z-10",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_black",
      "label": "Dark Logo"
    },
    {
      "type": "image_picker",
      "id": "logo_white",
      "label": "Light Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "icon",
      "label": "Show Icons",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Custom header"
    }
  ]
}
{% endschema %}
