{% liquid
  assign var = section.settings
  assign title = var.title
  assign title_align = var.title_align
  assign reverse = var.reverse
  assign main_img = var.main_img
  assign signature_img = var.signature_img
  assign content = var.content
  assign brand_img = var.brand_img
%}

<div class="md:tw-container md:tw-m-auto">
  {% if title != blank %}
    <div>
      <h2 class="tw-text-center tw-text-4xl tw-font-bold md:tw-text-{{ title_align }} md:tw-text-7xl">{{ title }}</h2>
    </div>
  {% endif %}
  <div class="{% if reverse == 'right' %}tw-flex tw-flex-col-reverse md:tw-flex-row-reverse{% else %}tw-flex tw-flex-col md:tw-flex-row{% endif %}">
    {% if main_img != null %}
      <div class="tw-w-full md:tw-w-1/2">
        <img
          src="{{ main_img | image_url }}"
          width=""
          height=""
          alt="{{ main_img | image_url }}"
          class="tw-h-full tw-w-full"
        >
      </div>
    {% endif %}
    <div class="tw-px-14 md:tw-flex md:tw-w-1/2 md:tw-flex-col md:tw-justify-center md:tw-pl-10">
      {% if signature_img != null %}
        <div class="md:justify-left tw-mb-4 tw-flex tw-justify-center md:tw-mb-6">
          <img src="{{ signature_img | image_url }}" width="" height="" alt="{{ signature_img.alt }}">
        </div>
      {% endif %}
      <div class="tw-mb-4 tw-text-center md:tw-mb-6 md:tw-text-left lg:tw-text-3xl xl:tw-text-4xl">
        {{ content }}
      </div>
      {% if brand_img != null %}
        <div class="md:tw-justify-left tw-flex tw-justify-center">
          <img src="{{ brand_img | image_url }}" width="243" height="" alt="{{ brand_img.alt }}">
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image With Text",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "The Coaches"
    },
    {
      "type": "select",
      "id": "title_align",
      "label": "Desktop Title Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "label": "Main Image Position",
      "id": "reverse",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "image_picker",
      "id": "main_img",
      "label": "Main Image"
    },
    {
      "type": "image_picker",
      "id": "signature_img",
      "label": "Signature Image"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text Content"
    },
    {
      "type": "image_picker",
      "id": "brand_img",
      "label": "Brand Image"
    }
  ]
}
{% endschema %}
