{% liquid
  assign d_img = section.settings.d_img
  assign m_img = section.settings.m_img
  assign pre_title = section.settings.pre_title
  assign title = section.settings.title
  assign title_image = section.settings.title_image
  assign btn_label = section.settings.btn_label
  assign btn_link = section.settings.btn_link
  assign color_1 = section.settings.color_1
  assign color_2 = section.settings.color_2
  assign direction = section.settings.direction
%}

<style>
  .{{ section.id }}-bg {
    background-image: url({{ d_img | image_url: width: 1920 }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
  }
  {% if m_img != blank %}
    @media (max-width: 768px) {
      .{{ section.id }}-bg {
        background-image: url({{ m_img | image_url: width: 1080 }});
        height: 600px;
      }
    }
  {% endif %}

  .{{ section.id }}-bg h1 {
    font-family: 'Montserrat';
  }
  .bg-gradient-{{ section.id }} {
    background: rgb(2,0,36);
    background: linear-gradient(to {{ direction }}, {{ color_1 }}, {{  color_2 }});
  }
</style>

<div class="tw-m-auto {{ section.id }}-bg">
  <div class="tw-relative tw-h-full tw-overflow-hidden tw-px-4">
    {% comment %}
      <div class="tw-absolute tw-inset-0">
        <picture>
          <source media="(min-width:700px)" srcset="{{ d_img | image_url: width: 1080 }}">
          {% if m_img %}
            {{ m_img | image_url: width: 700 | image_tag }}
          {% else %}
            {{ d_img | image_url: width: 1920 | image_tag }}
          {% endif %}
        </picture>
      </div>
    {% endcomment %}
    {% if pre_title and title and btn_label != blank %}
      <div class="tw-relative tw-flex tw-h-full tw-w-full tw-flex-col tw-items-center tw-justify-center tw-gap-6 md:tw-p-8">
        {%- if title != blank -%}
          <h1 class="tw-mb-20 tw-text-center tw-text-4xl tw-font-bold tw-text-white tw-drop-shadow-lg md:tw-text-7xl">
            <span class="tw-text-lg md:tw-text-3xl">{{ pre_title }}</span><br>
            {{ title }}
          </h1>
        {%- endif -%}
        {%- if title_image != blank -%}
          {{ title_image | image_url: width: 2000 | image_tag: class: 'lg:tw-w-4/5 md:tw-pt-36 tw-pt-20' }}
        {%- endif -%}
        {%- if btn_label != blank -%}
          <a
            class="tw-rounded-full bg-gradient-{{ section.id }} tw-px-3 tw-py-2 tw-text-center tw-text-base tw-font-bold tw-uppercase tw-text-black md:tw-px-6 md:tw-text-3xl"
            href="{{ btn_link }}"
            target="_blank"
          >
            {{- btn_label -}}
          </a>
        {%- endif -%}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "image banner",
  "class": "tw-mb-8",
  "settings": [
    {
      "type": "image_picker",
      "id": "d_img",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "m_img",
      "label": "Mobile image"
    },
    {
      "type": "text",
      "id": "pre_title",
      "label": "Pre Title",
      "default": "Pre Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "title_image",
      "label": "Title image"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Gradient direction",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "bottom right",
          "label": "Bottom right"
        },
        {
          "value": "top right",
          "label": "Top right"
        }
      ],
      "default": "right"
    },
    {
      "type": "color",
      "id": "color_1",
      "label": "Gradient color 1",
      "info": "First color for the gradient background to button"
    },
    {
      "type": "color",
      "id": "color_2",
      "label": "Gradient color 2",
      "info": "Second color for the gradient background to button"
    }
  ],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}
