{% liquid
  assign title = section.settings.title
  assign content = section.settings.content
  assign color_1 = section.settings.color_1
  assign color_2 = section.settings.color_2
  assign sticker = section.settings.sticker
%}

<style>
  .bg-gradient-{{ section.id }} {
    background: rgb(2,0,36);
    background: linear-gradient(to bottom right, {{ color_1 }} 0%, {{  color_2 }} 100%);
  }
</style>
<div class="bg-gradient-{{ section.id }}">
  <div class="tw-container tw-relative tw-mx-auto tw-px-10 tw-py-10 md:tw-py-20">
    {% if sticker != null %}
      <div class="tw-absolute -tw-top-10 tw-right-0">
        <img src="{{ sticker | image_url }}" width="120" height="120">
      </div>
    {% endif %}
    <h2 class="tw-mb-10 tw-text-center tw-text-4xl tw-font-bold md:tw-text-left md:tw-text-7xl">{{ title }}</h2>
    <div class="">
      {{ content }}
    </div>
    <div class="tw-grid tw-gap-10 lg:tw-grid-cols-3">
      {% for block in section.blocks %}
        <div class="tw-relative tw-flex tw-flex-col tw-justify-around tw-gap-4 tw-rounded-3xl tw-bg-white tw-p-5 tw-px-8 tw-py-10 tw-text-center md:tw-gap-8">
          {% if block.settings.new_mark %}
            <div class="tw-absolute" style="top:-12px;right:-20px ">
              <img src="{{ 'new-mark.png' | asset_img_url }}" width="120" height="120">
            </div>
          {% endif %}
          <h3 class="tw-text-xl tw-font-bold lg:tw-text-2xl xl:tw-text-3xl ">{{ block.settings.title }}</h3>
          <span class="tw-text-6xl tw-font-bold tw-text-black md:tw-text-8xl">
            {{- block.settings.price -}}
          </span>
          <span class="tw-text-base lg:tw-text-lg xl:tw-text-xl">{{ block.settings.custom_line_1 }}</span>
          <div class="tw-tw-flex tw-tw-justify-center">
            <a
              class="tw-rounded-full tw-bg-black tw-px-7 tw-py-2 tw-text-base tw-font-semibold tw-text-white lg:tw-text-lg xl:tw-text-xl"
              href="{{ block.settings.btn_url }}"
            >
              {{- block.settings.btn_label -}}
            </a>
          </div>
          <p class="tw-text-base tw-text-gray-500 lg:tw-text-lg xl:tw-text-xl">{{ block.settings.custom_line_2 }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "memberships",
  "class": "tw-mb-8",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "sticker",
      "label": "Sticker Image"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p></p>"
    },
    {
      "type": "color",
      "id": "color_1",
      "label": "Gradient color 1",
      "default": "#2ED5E9"
    },
    {
      "type": "color",
      "id": "color_2",
      "label": "Gradient color 2",
      "default": "#F7EF8D"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product card",
      "settings": [
        {
          "type": "checkbox",
          "id": "new_mark",
          "label": "Show new mark",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Card Title"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price",
          "default": "$10"
        },
        {
          "type": "text",
          "id": "custom_line_1",
          "label": "Custom line 1",
          "default": "Custom line 1"
        },
        {
          "type": "text",
          "id": "custom_line_2",
          "label": "Custom line 2",
          "default": "Custom line 2"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "memberships"
    }
  ]
}
{% endschema %}
