{% liquid
  assign title = section.settings.title
  assign sticker = section.settings.sticker
  assign content = section.settings.content
  assign btn_label = section.settings.btn_label
  assign btn_link = section.settings.btn_link
%}

<div class="tw-container tw-relative tw-m-auto tw-flex tw-justify-center tw-p-10 md:tw-pt-20">
  {% if sticker != blank %}
    <div>
      <img
        src="{{ sticker | image_url }}"
        width="90"
        height="90"
        class="sticker-button tw-absolute tw-rotate-[25deg] tw-drop-shadow-xl"
      >
    </div>
  {% endif %}
  <div class="tw-flex tw-flex-col tw-gap-6 md:tw-gap-14">
    <h2 class="tw-text-center tw-text-2xl tw-font-bold md:tw-text-left md:tw-text-7xl ">
      {{ title }}
    </h2>
    <div
      class="tw-text-left tw-text-base tw-text-black md:tw-text-lg lg:tw-text-xl"
      style="line-height:40px;"
    >
      {{ content }}
    </div>
    <div class="tw-flex tw-justify-center">
      <a
        class="tw-mt-3 tw-rounded-full tw-bg-black tw-px-7 tw-py-3 tw-text-center tw-text-base tw-font-semibold tw-uppercase tw-text-white md:tw-mt-0 md:tw-text-3xl"
        href="{{ btn_link }}"
      >
        {{- btn_label -}}
      </a>
    </div>
  </div>
</div>
<style>
  .sticker-button {
    top: -60px;
    right: 20px;
  }
  @media screen and (min-width: 768px) {
    .sticker-button {
      width: 150px;
      top: -100px;
    }
  }
</style>

{% schema %}
{
  "name": "Text with button",
  "class": "tw-my-8",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "sticker",
      "label": "Sticker Image"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Text with button"
    }
  ]
}
{% endschema %}
